.text-center {
  text-align: center;
}

input {
  background-color: white;
  background-image: none;
  border: none;
  box-shadow: none;
  margin: 10px;
  padding: 10px;
}

.Login {
  background-color: rgb(231, 233, 232);
  border-radius: 4px;
  box-shadow: 0 10px 15px -3px rgb(46, 44, 44), 0 4px 6px -2px rgb(0 0 0 / 5%);
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px;
  width: 300px;
}

.Login .login-inputs {
  display: flex;
  flex-direction: column;
}

button {
  background-color: rgb(78, 168, 145);
  background-image: none;
  border: 5px;
  color: white;
  font-weight: 800;
  height: 35px;
  margin: 10px;
  padding-left: 0;
  padding-right: 0;
  width: 280px;
}

button:hover {
  background-color: rgb(102, 170, 153);
}

.Header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  height: 50px;
  justify-content: end;
  padding: 0 30px;
}

.Header-info {
  display: flex;
}

.Total{
  padding-left: 40px;
}
/* .Header a {
  color: rgb(74, 85, 104);
  font-size: 0.875rem;
  padding: 0 10px;
  text-decoration: none;
} */
/* .Header h4 {
  margin-right: 30px;
  padding-right: 40px;
}
.Header img {
  margin-right: 30px;
} */
